{% extends "/templates/base.html" %}

{% block content %}
<ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    {% if user %}
        {% if version %}
            <span class="pull-right"><a href="_edit{{ page }}?v={{ version }}">Edit</a> | <a href="_history{{ page }}">History</a></span>
        {% else %}
            <span class="pull-right"><a href="_edit{{ page }}">Edit</a> | <a href="_history{{ page }}">History</a></span>
        {% endif %}
    {% endif %}
</ol>

{{ content | safe }}

{% endblock %}